@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");

h1 {
  color: aqua;
}

.title_p {
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: #292052;
  margin: 50px;

  font-family: "Exile", system-ui;

  text-decoration: underline;

  border: 20px solid black;

  border-radius: 50px;
  border-style: inset;
  border-color: cadetblue;

  padding: 20px;
}

.box1 {
  background-color: bisque;
  width: 150px;
  height: 150px;
}

.box2 {
  background-color: darkgrey;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;
}
